name: Gradle Build

on: [push]

jobs:
  build:
    if: github.run_number != 1
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      REPO_NAME: ${{ github.event.repository.name }} 
      GITHUB_TOKEN: "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"
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file
    - name: Build with Gradle
      run: gradle build
      continue-on-error: true
    - name: Login
      run: gh auth login
    - name: Publish to GitHub Packages Apache Maven
      run: "gh release create $REPO_NAME ./README.md"